* {
  color: white;
}

ul {
  list-style: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.task-item {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
  margin-bottom: 8px;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  margin-right: 10px;
  height: 1.3em;
  width: 1.3em;
  background: black;
  border-radius: 4px;
  transition: all 0.3s;
}

.container input:checked+.checkmark {
  background: black;
  box-shadow: -10px -10px 15px 0px #5B51D8, 0 -10px 15px 0px #833AB4, 10px -10px 15px 0px #E1306C,
    10px 0 15px 0px #FD1D1D, 10px 10px 15px 0px #F77737, 0 10px 15px 0px #FCAF45,
    -10px 10px 15px 0px #FFDC80;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked+.checkmark:after {
  display: block;
}

.container .checkmark:after {
  content: "";
  left: 0.45em;
  top: 0.25em;
  width: 0.25em;
  height: 0.5em;
  border: solid #f0f0f0;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
}

.container span {
  flex-grow: 1;
  /* Asegura que el texto ocupa todo el espacio disponible */
}